<div id="root"></div>

{% schema %}
{
  "name": "love-and-money",
  "target": "body",
  "enabled_on": {
    "templates": ["cart"]
  },
  "stylesheet": "main.css",
  "javascript": "main.js",
  "settings": []
}
{% endschema %}
